@import 'tailwindcss';

@theme {
  --color-bg: #282a36;
  --color-fg: #f8f8f2;
  --color-focus: #44475a;
  --color-comment: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
}

@layer base {
  :root {
    @apply bg-bg text-fg font-mono leading-none;
  }

  * {
    @apply border-comment;
  }

  button,
  a,
  A {
    @apply text-purple cursor-pointer;
  }

  .button,
  form button {
    @apply p-[1ch] cursor-pointer bg-purple text-bg inline-block;
  }

  button:focus,
  a:focus,
  A:focus,
  button:hover,
  a:hover,
  A:hover {
    @apply underline outline-0;
  }

  input {
    @apply border p-[1ch] outline-0;
  }

  form input,
  form button {
    @apply block w-full max-w-lg mx-auto my-[1ch];
  }

  h1 {
    @apply font-bold my-[1ch];
  }
}
